<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All voices</title>
    <link th:href="@{/styles/css/table.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="index :: header"></div>
    <h1 class="table-name">Voices</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Lang</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voice : ${voices}">
            <td th:text="${voice.getId()}">id</td>
            <td th:text="${voice.getTitle()}">title</td>
            <td th:text="${voice.getLang()}">lang</td>

        </tr>
        </tbody>
    </table>

    <div class="button-holder">
        <a class="button-9" role="button" href="voices/addvoice">Add</a>
        <a class="button-9" role="button" href="voices/deletevoice">Delete by ID</a>

    </div>

    <footer>
        <div th:insert="index :: footer"></div>
    </footer>

</body>
</html>