*{
    padding: 0;
    margin: 0;
    border: 0;
}

div.list-container {
  text-align: center;
  background-color: #009879;
  margin-bottom: 50px;
}
ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 50px 26px;
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #1a4736;
}

/*body {  background-image: url("background.png");}*/


h2 {
margin-left: 55px;
margin-top: 40px;
}

.text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

textarea {
  margin-top: 10px;
  width: 500px;
  height: 400px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.button-holder {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    width: 200px;
}

.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #009879;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
    padding-top: 10px;
}

.button-9:nth-child(2) {
  background: black;
  margin-bottom: 120px;
}

.button-9:disabled {
cursor: default;
}

.button-9:focus {
    color: black;
}

.footer {
    background-color:#5B5B5B;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 150px;
   color: white;
   text-align: center;
   padding-top: 70px;
   font-size: 20px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.button-sort{
  border:none;
  border-radius:5px;
  padding:15px 30px;
  font-size:18px;
  cursor:pointer;
}

.button-sort:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}