<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All producers</title>
    <link th:href="@{/styles/css/table.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="~{index :: header}"></div>
    <h1 class="table-name">Producers</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producer : ${producers}">
            <td th:text="${producer.getId()}">id</td>
            <td th:text="${producer.getName()}">name</td>
            <td th:text="${producer.getSurname()}">surname</td>
        </tr>
        </tbody>
    </table>

    <div class="button-holder">
        <a class="button-9" role="button" href="producers/addproducer">Add</a>
        <a class="button-9" role="button" href="producers/deleteproducer">Delete by ID</a>
    </div>

    <footer>
        <div th:insert="index :: footer"></div>
    </footer>

</body>
</html>