<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All filmsubs</title>
    <link th:href="@{/styles/css/table.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="index :: header"></div>
    <h1 class="table-name">FilmSubs</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>FilmID</th>
            <th>SubID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="filmsub : ${filmsubs}">
            <td th:text="${filmsub.getFilmId()}">filmid</td>
            <td th:text="${filmsub.getSubId()}">subid</td>
        </tr>
        </tbody>
    </table>

    <div class="button-holder">
        <button class="button-9" role="button">Add</button>
    </div>

    <footer>
        <div th:insert="index :: footer"></div>
    </footer>
</body>
</html>